/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
/*-*-*-*-*-*-*-*-*-*-*-*- RESET *-*-*-*-*-*-*-*-*-*-*-*-*/
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
/*-*-*-*-*-*-*-*-* ESTILOS SUELTOS *-*-*-*-*-*-*-*-*-*/
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

h1{
    font-size: 2.5rem;
    line-height: 100px;
}

a{
    text-decoration: none;
}



/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
/*-*-*-*-*-*-*-*-*-*-*-*- HEADER *-*-*-*-*-*-*-*-*-*-*-*-*/
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

header{
    width: 100%;
    height: 100px;
    background: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 5px solid rgba(255, 238, 0, 0.936);
    position: fixed;
    top: 0;
    z-index: 1;
}

.drone{
    color: white;
    font-weight: 200;
}

.velocity{
    color: rgba(255, 238, 0, 0.936);
}

.h1container{
    margin-left: 40px;
}

/* Barra de navegación */

.navcontainer{
    margin: auto 100px auto 200px;
}

.navBar>a{
    color: white;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    height: 100px;
    display: inline;
    align-items: center;
    margin-inline: 20px;
    
}

.link:hover{
    color: rgba(255, 238, 0, 0.936)!important;
    
}

.active{
    color: rgba(255, 238, 0, 0.936)!important;
}



/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
/*-*-*-*-*-*-*-*-*-*-*-*- BODY *-*-*-*-*-*-*-*-*-*-*-*-*-*/
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

body{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

main{
    width: 100%;
    margin-top: 100px;
}

.section1{
    width: 100€;
    display: flex;
    background: black;
}

.textSection1{
    text-align: center;
    margin-top: 50px;
}

.h2section1{
    color: white;
    font-size: 2rem; 
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.psection1{
    color: white;
    font-size: 1.2rem;
    margin: 30px 80px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.ulsection1{
    padding: 10px 0 10px 200px;
    margin-top: 50px;
    margin-bottom: 35px;
}

.ulsection1 li{
    color: white;
    font-size: 1.2rem;
    text-align: left;
    list-style: circle;
    padding: 10px;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.buttonsection1{
    font-size: 1.2rem;
    font-weight: 700;
    padding: 10px;
    margin: 30px 0;
    background: rgba(0, 0, 0, 0);
    border: 2px solid rgba(255, 238, 0, 0.936);
    color: rgba(255, 238, 0, 0.936);
    cursor: pointer;
    align-items: center;
}

.buttonsection1:hover{
    background: rgba(255, 238, 0, 0.936);
    border-radius: 5px;
    color: black;
}

.tiendaContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tienda{
    width: 95%;
    height: 95%;
    padding-right: 100px;
}

.section2{
    background: rgb(169, 154, 154);
    padding: 30px 0;
}

.h2noticias{
    color:black;
    padding: 20px 0 0 20px;
    text-transform: uppercase;
    text-align: center;
}

.contenedor-noticia{
    display: grid;
    grid-auto-rows: 2fr 1fr 2fr 1fr;
    gap: 10px;
    max-height: 600px;
    width: 430px;
    border-radius: 10px;
    overflow: hidden;
    border: 5px solid black;
}

.contenedor-imgnoticia{
    height: auto;
    width: 100%;
}

.imgnoticia{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-noticia{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    width: 100%;
    padding: 10px;
    background: white;

}

.titulo-noticia{
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-size: 20px;
}

.descripcion-noticia{
    color: black;
    padding: 0 10px;
    text-align: justify;
}

.fecha-noticia{
    display: flex;
    justify-content: flex-end;
}

.fecha-noticia p{
    font-size: 15px;
    color: black;
}

#mundialDrones{
    width: 80%;
}


.section3{
    display: flex;
    flex-direction: column;
    background: rgb(44, 43, 43);
    margin-bottom: 80px;
    padding-bottom: 40px;
}

.h2section3{    
    text-align: center;
    margin: 40px auto;
    text-transform: uppercase;
}

.h3section3{
    text-transform: uppercase;
    margin: 20px auto;
}

.imgsection3{
    width: 90%;
    height: auto;
    transition: all .25s ease-out;
}

.imgsection3:hover{
    transform: scale(1.05, 1.05)
}


.psection3{
    margin: 20px auto;
}

.cardContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    border-top: 1px solid rgba(255, 238, 0, 0.936);
}

.btnsection3container{
    display: flex;
    margin: 0 auto;
}

.section4{
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 20px;
}

.divsection4{
    flex: 1;
}

.imgsection4{
    width: 100%;
    height: auto;
}

.h2section4{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(255, 238, 0, 0.936);
}

.ulsection4{
    text-align: center;
    margin-bottom: 20px;
}

.ulsection4 li{
    color: rgba(255, 238, 0, 0.936);
    font-size: 20px;
}

.sim{
    color: rgba(255, 238, 0, 0.936);
}

.psection4{
    text-align: center;
}

.section5{
    text-align: center;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.psection5{
    font-size: 30px;
}

.btnsection5container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: fit-content;
    margin: 20px auto;
}

.section6{
    display:flex;
    flex-direction: row;
}

.section6 img{
    height: 250px;
    width: 100%;
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
/*-*-*-*-*-*-*-*-*-*-*-*- FOOTER *-*-*-*-*-*-*-*-*-*-*-*-*/
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

footer{
    width: 100%;
    height: 180px;
    background: black;
    padding: 0;
    border-top: 5px solid rgba(255, 238, 0, 0.936);
}

.footer-container{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.footer-link{
    width: 25%;
    text-align: center;
    align-items: center;
    margin: 0 20px;
    height: 150px;
}

.footer-link h4{
    color: white;
    font-size: 20px;
    border-bottom: 3px solid rgba(255, 238, 0, 0.936);
    display: inline-block;
    margin: 20px;
}

.footer-link ul li{
    font-size: 18px;
    color: #BBBBBB;
} 

.footer-link p{
    color: #BBBBBB;
}

.footer-link ul li a{
    color: #BBBBBB;
    font-size: 18px;
    transition: all .3s ease;
}

.footer-link ul li a:hover{
    color: white;
    padding-left: 10px;
}

.social-link{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-link a{
    display: inline-block;
    min-height: 50px;
    width: 50px;
    background-color: rgba(255, 246, 116, 0.936);
    margin: 10px;
    text-align: center;
    border-radius: 50%;
    color: black;
    border: 1px solid black;
}

i{
    font-size: 24px;
    justify-content: center;
    line-height: 50px;
}

.social-link a:hover{
    background-color: rgba(255, 238, 0, 0.936);
    border: 1px solid black;
}

.mapbutton{
    background-color: rgba(255, 246, 116, 0.936);
    color: black;
    border: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
}
    


.mapbutton:hover{
    background:  rgba(255, 238, 0, 0.936);
    border: 2px solid black;
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
/*-*-*-*-*-*-*-*-*-*-*- GALERIA *-*-*-*-*-*-*-*-*-*-*-*/
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

.main-galeria{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.contenedor-galeria{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 50px;
    margin: 30px auto;
}

.contenedor-drone{
    display: grid;
    grid-auto-rows: 2fr 1fr 2fr 1fr;
    gap: 10px;
    max-height: 520px;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid rgba(255, 238, 0, 0.936);
}

.contenedor-imgdrone{
    height: 350px;
    width: 100%;
}

.imgdrone{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-drone{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    width: 100%;
    padding: 0 10px;
}

.info-drone h3{
    text-align: center;
}

.descripcion-drone{
    padding: 0 10px;
}

.precio-drone{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.precio-drone p{
    font-weight: bold;
    font-size: 20px;
}

.boton-galeria{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
/*-*-*-*-*-*-*-*-*-*-*- FORMULARIO *-*-*-*-*-*-*-*-*-*-*-*/
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

.h2form{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

form {
    max-width: 600px;
    margin: 50px auto;
    background-color: #222;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid rgba(255, 238, 0, 0.936);
}

fieldset{
    border: 0;
}

legend{
    text-align: center;
    text-transform: uppercase;
}

input.extra{
    width: auto;
    margin-right: 10px;
}

input#condiciones{
    width: auto;
    margin-right: 10px;
}

label, input, select {
    display: inline-block;
    gap: 10px;
    width: 100%;
    padding: 10px;
    justify-content: center;
    margin: 5px auto;
}

input, select {
    background-color: white;
    color: black;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.presupuestoFinal{
    width: auto;
    height: 50px;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: rgba(255, 238, 0, 0.936);
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: black;
    color: rgba(255, 238, 0, 0.936);
    border: 2px solid rgba(255, 238, 0, 0.936);
}



/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
/*-*-*-*-*-*-*-*-*-*-*-*- AVISO LEGAL *-*-*-*-*-*-*-*-*-*-/
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

.aviso{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 500;
    margin-top: 60px;
    margin-bottom: 20px;
}

.aviso-content{
    padding: 30px 80px;
}

.usuario{
    margin-top: 40px;
}

.ambito{
    margin-top: 40px;
}

.acceso{
    margin-top: 40px;
}

.propiedadintelectual{
    margin-top: 40px;
}

.responsabilidad{
    margin-top: 40px;
}

.modificaciones{
    margin-top: 40px;
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
/*-*-*-*-*-*-*-*-*-*-*-*- CONTACTO *-*-*-*-*-*-*-*-*-*-/
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

.contactContainer{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 30px auto;
    border: 1px dotted rgba(255, 238, 0, 0.936);
}

.contactContainer h2{
    text-align: center;
    text-transform: uppercase;
    margin: 20px auto;
    font-size: 30px;
    border-bottom: 1px solid white;
}

.contactContainer p{
    text-align: center;
    padding: 15px 150px;
}

.buttonContainer{
    margin: 10px auto;
}

#map{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    height: 400px;
    z-index: 0;
}