<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Drone Velocity Online Shop</title>
        <!-- Link a la hoja de estilos -->
        <link rel="stylesheet" href="../css/estilos.css">
        <!--Librería Bootstrap para iconos-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    </head>
    <body>
        <!--ENCABEZADO Y BARRA DE NAVEGACIÓN-->
        <header>
            <div class="h1container">
                <h1><a href="../index.html"><span class="drone">Drone</span><span class="velocity">Velocity</span></a></h1>
            </div>
            <div class="navcontainer">
                <nav class="navBar">
                    <a class="link" href="../index.html">Inicio</a>
                    <a class="link" href="./galeria.html">Galería</a>
                    <a class="link" href="./presupuesto.html">Presupuesto</a>
                    <a class="link" href="./contacto.html">Contacto</a>
                </nav>   
            </div>
        </header>
        <!--CONTENIDO PRINCIPAL-->
        <main class="backgroundavisolegal">
            <div>
                <h2 class="aviso">Aviso Legal</h2>
            </div>
            <div class="aviso-content">  
                <p>
                    <strong>TITULAR DE SITIO WEB Y DATOS DE IDENTIFICACIÓN DE LA SOCIEDAD</strong>
                </p>
                <br>
                <p>
                    Denominación social: Drone Velocity S.L (nos referiremos a continuación como “Drone Velocity”).
                </p>
                <br>
                <p>
                    Domicilio social: Calle Doctor Cerrada 23, local. 50005. Zaragoza
                </p>
                <br>
                <p>
                    Establecimiento permanente en España: Calle Doctor Cerrada 23, local. 50005. Zaragoza
                </p>
                <br>
                <p>
                    Número de Identificación fiscal: F-11122233.
                </p>
                <br>
                <p>
                    Datos de inscripción en el Registro de Cooperativas de Aragón: al tomo 17, folio 1737, asiento número 1, número de inscripción ARA-Z-1737.
                </p>
                <br>
                <p>
                    Dirección de correo electrónico de contacto general:[hola@dronevelocity.com].
                </p>
                <p class="usuario">
                    <strong>USUARIO</strong>
                </p>
                <br>
                <p>
                    El acceso y uso del sitio web www.dronevelocity.com (en adelante el “Sitio Web”) atribuye la condición de “usuario” al visitante del Sitio Web e
                    implica la aceptación plena y sin reservas por parte del usuario de las condiciones de uso vigentes en cada momento.
                </p>
                <br>
                <p>
                    El usuario podrá consultar nuestro Aviso Legal de forma permanente y accesible a través de los enlaces correspondientes mediante su publicación
                    electrónica al pie de nuestro Sitio Web, visible en todos los apartados del mismo.
                </p>
                <br>
                <p>
                    Cualquier utilización distinta a la autorizada está expresamente prohibida, quedando novodrone facultada para denegar o retirar el acceso y uso
                    del Sitio Web, en cualquier momento, y sin previo aviso, a aquellos usuarios que incumplan estas condiciones generales o las condiciones particulares
                    que, en su caso, resulten de aplicación.
                </p>
                <p class="ambito">
                    <strong>ÁMBITO NORMATIVO DEL PRESENTE AVISO LEGAL</strong>
                </p>
                <br>
                <p>
                    Drone Velocity informa a los usuarios por medio del presente Aviso Legal de los aspectos legales concernientes a normativa de servicios de la sociedad de la
                    información, propiedad industrial e intelectual y demás condiciones relacionadas con el uso y navegación del presente Sitio Web (en adelante el “Aviso Legal”).
                </p>
                <p class="acceso">
                    <strong>ACCESO Y USO DEL SITIO WEB</strong>
                </p>
                <br>
                <p>
                    Drone Velocity pone gratuitamente a disposición de los usuarios de Internet, el acceso al Sitio Web, el cual no requiere de registro de usuario para utilizarlo e
                    implica la aceptación íntegra de las presentes condiciones contenidas en el Aviso Legal, sin perjuicio de las condiciones particulares que pudieran aplicarse
                    para determinados y concretos servicios del sitio Web. Propiedad intelectual e industrial.
                </p>
                <br>
                <p>
                    [El usuario se compromete a hacer un uso diligente del Sitio Web y a no poner a disposición de terceros su nombre de usuario y contraseña, en caso de estar
                    registrado de forma voluntaria, así como a comunicar a Planting Drones con la mayor brevedad, la pérdida, robo o cualquier riesgo de acceso a los mismos por un tercero].
                </p>
                <p class="propiedadintelectual">
                    <strong>PROPIEDAD INDUSTRIAL E INTELECTUAL</strong>
                </p>
                <br>
                <p>
                    Titularidad de los contenidos:
                </p>
                <br>
                <p>
                    La propiedad intelectual de todos los elementos que forman el Sitio Web, incluido el nombre de dominio, así como su código fuente, su diseño gráfico, estructura de
                    navegación, bases de datos, nombres comerciales, marcas, logos, y otros signos distintivos, textos, entre otros, pertenece a Drone Velocity, a quien corresponde en exclusiva
                    los derechos exclusivos de explotación de los mismos en cualquier forma, especialmente a través de los derechos de reproducción, distribución, comunicación pública y transformación.
                </p>
                <br>
                <p>
                    Drone Velocity garantiza que los contenidos, incluidos los de propiedad intelectual, no son de carácter ilícito, ni infringen la normativa vigente. Además, Drone Velocity
                    adoptará las medidas legales que considere convenientes para impedir cualquier tipo de conducta contraria a la Ley o a la moral en su Sitio Web.
                </p>
                <br>
                <p>
                    Drone Velocity no cede total ni parcialmente, ni concede licencia o autorización alguna sobre dichos elementos. No obstante, autoriza a los usuarios de internet que visiten
                    el Sitio Web la visualización, impresión y descarga parcial del contenido del sitio Web sólo y exclusivamente si concurren las siguientes condiciones: compatibilidad
                    con los fines del Sitio Web o ánimo exclusivo de obtener la información contenida para uso personal y privado.
                </p>
                <br>
                <p>
                    Se prohíbe expresamente a los usuarios reproducir o copiar, distribuir, ceder o comunicar públicamente la información contenida en el Sitio Web, así como la utilización
                    de contenidos del Sitio Web para fines comerciales, salvo que se trate de usuarios autorizados expresamente, o lícitos, por acogerse a los casos en que resulte legalmente
                    permitido. Respeto de la integridad de los contenidos del sitio Web, se prohíbe expresamente cualquier modificación de los mismos.
                </p>
                <br>
                <p>
                    Drone Velocity es titular de los derechos de propiedad intelectual e industrial referidos a sus productos y servicios. Respecto a las citas de productos y servicios de terceros,
                    Drone Velocity reconoce a favor de sus titulares los correspondientes derechos de propiedad industrial e intelectual, no implicando su sola mención o aparición en el sitio Web la
                    existencia de derechos o responsabilidad alguna de Drone Velocity sobre los mismos, como tampoco respaldo, patrocinio, o recomendación por nuestra parte a no ser que se manifieste
                    de manera expresa.
                </p>
                <br>
                <p>
                    La infracción de cualquiera de los citados derechos de propiedad intelectual e industrial puede constituir una vulneración de las presentes disposiciones, así como un delito
                    castigado de acuerdo con los artículos 270 y siguientes del vigente Código Penal. El logo de Drone Velocity está basado en un diseño propio, obra de Sergio Dolset Guerrero. La utilización
                    no autorizada de la información contenida en el sitio Web, su reventa, así como la lesión de los derechos de Propiedad Intelectual o Industrial de Drone Velocity dará lugar a las
                    responsabilidades legalmente establecidas.
                </p>
                <p class="responsabilidad">
                    <strong>RESPONSABILIDAD</strong>
                </p>
                <br>
                <p>
                    Drone Velocity no garantiza la inexistencia de interrupciones o errores en el acceso al sitio Web o a su contenido, ni que éste se encuentre actualizado, ni asume responsabilidad
                    alguna derivada de los contenidos, informaciones o servicios enlazados desde el sitio Web, ni garantiza la ausencia de virus u otros elementos en los mismos que puedan producir
                    alteraciones en el sistema informático (hardware y software), en los documentos o los ficheros del usuario, excluyendo cualquier responsabilidad por los daños de cualquier clase
                    causados al usuario por este motivo.
                </p>
                <p class="modificaciones">
                    <strong>MODIFICACIONES</strong>
                </p>
                <br>
                <p>
                    Con el fin de mejorar las prestaciones del sitio Web, Drone Velocity se reserva la facultad de efectuar, en cualquier momento y sin necesidad de previo aviso, modificaciones y
                    actualizaciones de la información contenida en el Sitio Web, de la configuración y diseño de éste y del presente aviso legal, así como de cualesquiera otras condiciones particulares.
                </p>
            </div>
        </main>
        
        <!--PIE DE PAGINA-->
        <footer>
            <div class="footer-container">
                <div class="footer-link">
                    <h4>Empresa</h4>
                    <ul>
                        <li><a href="./galeria.html">Galería</a></li>
                        <li><a href="./presupuesto.html">Presupuesto</a></li>
                        <li><a href="./contacto.html">Contacto</a></li>
                        <li><a href="#">Aviso Legal</a></li>
                    </ul>
                </div>
                <div class="footer-link">
                    <h4>Dirección</h4>
                    <p>Nuestras oficinas se encuentran en: <br> C/ Doctor Cerrada 23, Zaragoza.</p>
                    <br>
                    <a class="mapbutton" href="./contacto.html">Ver mapa</a>
                </div>
                <div class="footer-link">
                    <h4>¡Síguenos!</h4>
                    <div class="social-link">
                        <a href="https://www.facebook.com/?locale=es_ES"><i class="bi bi-facebook"></i></a>
                        <a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
                        <a href="https://x.com/?lang=es"><i class="bi bi-twitter-x"></i></a>
                        <a href="https://www.linkedin.com/"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>