<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Drone Velocity Online Shop</title>
        <!-- Link a la hoja de estilos -->
        <link rel="stylesheet" href="../css/estilos.css">
        <!--Librería Bootstrap para iconos-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    </head>
    <body>
        <!--ENCABEZADO Y BARRA DE NAVEGACIÓN-->
        <header>
            <div class="h1container">
                <h1><a href="../index.html"><span class="drone">Drone</span><span class="velocity">Velocity</span></a></h1>
            </div>
            <div class="navcontainer">
                <nav class="navBar">
                    <a class="link" href="../index.html">Inicio</a>
                    <a class="link active" href="#">Galería</a>
                    <a class="link" href="./presupuesto.html">Presupuesto</a>
                    <a class="link" href="./contacto.html">Contacto</a>
                </nav>   
            </div>
        </header>

        <!--CONTENIDO PRINCIPAL DE LA PÁGINA-->
        <main class="main-galeria">
            <h2 class="h2section3" >Descubre nuestros drones</h2>
            <section class="contenedor-galeria"></section>
            <section>
                <div class="boton-galeria">
                    <a href="../views/presupuesto.html" class="buttonsection1">Comprar</a>
                </div>
            </section>    
        </main>

        <!--FOOTER-->
        <footer>
            <div class="footer-container">
                <div class="footer-link">
                    <h4>Empresa</h4>
                    <ul>
                        <li><a href="#">Galería</a></li>
                        <li><a href="./presupuesto.html">Presupuesto</a></li>
                        <li><a href="./contacto.html">Contacto</a></li>
                        <li><a href="./avisolegal.html">Aviso Legal</a></li>
                    </ul>
                </div>
                <div class="footer-link">
                    <h4>Dirección</h4>
                    <p>Nuestras oficinas se encuentran en: <br> C/ Doctor Cerrada 23, Zaragoza.</p>
                    <br>
                    <a class="mapbutton" href="./contacto.html">Ver mapa</a>
                </div>
                <div class="footer-link">
                    <h4>¡Síguenos!</h4>
                    <div class="social-link">
                        <a href="https://www.facebook.com/?locale=es_ES"><i class="bi bi-facebook"></i></a>
                        <a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
                        <a href="https://x.com/?lang=es"><i class="bi bi-twitter-x"></i></a>
                        <a href="https://www.linkedin.com/"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </footer>
        <!--Insertamos la ubicación de nuestra hoja de Javascript para la galería-->
        <script src="../js/galeria.js"></script>
    </body>
</html>